body
{
background-size: cover;
background-position: center;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas
{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

#bedroom
{
   background-color: aqua;
   border-radius: 10px;
}

#office
{
   background-color: aqua;
   border-radius: 10px;
}

#waterbottle
{
   background-color: aqua;
   border-radius: 10px;
}

#fruitbasket
{
   background-color: aqua;
   border-radius: 10px;
}

#canvas
{
    height: 80%;
    width: 60%;
    background-color: white;
}
